header{
    height: 800px;
    background-image: url('https://content.presspage.com/uploads/2110/1920_gettyimages-1043917898-133920.jpg?10000');
    background-repeat: no-repeat;
    background-size: cover;        
    /* opacity: .9;         */
}